<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138042342630-0sgaeukhrlt12sv2k288o17ncvrvsjrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138042342630-0sgaeukhrlt12sv2k288o17ncvrvsjrj</string>
	<key>API_KEY</key>
	<string>AIzaSyA5saUuHy2fJaQRMALAkzGhpQi39ip7p5w</string>
	<key>GCM_SENDER_ID</key>
	<string>138042342630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tylermok.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1fbac</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1fbac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138042342630:ios:504c761a1c13b39c</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-1fbac.firebaseio.com</string>
</dict>
</plist>